.section{
    color: #000;
}

.section__header{
    background-color: #D9D9D9;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0 20px;

    font-weight: bolder;
}

.section__header:hover{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.section__button{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    height: 40px;
    opacity: 0.8;
}

.section__button:hover{
    cursor: pointer;
    opacity: 1;
}

.section__button span{
    margin-left: 5px;
}

.section__button--upload{
    background-color: #25cf80;
}

.section__button--remove{
    background-color: #DE4242;
}

.content{
    width: 95%;
    margin: auto;

    background-color: #D9D9D9;

    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content__container{
    display: flex;
    flex-wrap: wrap;

    row-gap: 20px;
    column-gap: 30px;

    margin-top: 20px;
}

.content__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    width: calc(50% - 15px);
}

.content__label{
    font-size: 1rem;
}

.content__input{
    width: 100%;
    
    background-color: #fff;
    border: none;
    height: 25px;
    margin-top: 5px;

    outline: none;

    color: #000;
}

.hidden{
    display: none;
}

.content__container--triple{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;

    gap: 25px;
}

.content__select{
    background-color: #fff;
    color: #000;
    border: none;
    height: 25px;

    outline: none;
}

.content__container--column{
    display: flex;
    flex-direction: column;
}

.content__textArea{
    background-color: #fff;
    width: 100%;
    resize: none;

    border: none;
    outline: none;

    color: #000;
}