.body{
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 15px;

    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.config{
    display: none;
}

.hover{
    cursor: pointer;
    opacity: 0.8;
}

.hover::hover{
    opacity: 1;
}


@media screen and (width > 1250px){
    .preview--mobile{
        display: none;
    }

    ::-webkit-scrollbar{
        width: 12.5px;
    }
    
    ::-webkit-scrollbar-track{
        background: #3b3b3b;
    }

    .form{
        background-color: #505255;
        height: 100%;
        width: 100%;
    
        box-sizing: border-box;
        padding: 15px;
    }
}

@media screen and (width <= 1250px){
    .body{
        background-color: #505255;
        height: auto;
        display: block;
        padding: 15px 6px;
    }

    .preview--desktop{
        display: none;
    }

    .preview--mobile{
        position: fixed;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: fit-content;

        z-index: 1;
    }

    .config{
        display: flex;
        flex-direction: row-reverse;
    
        cursor: pointer;
    }
    
    .config__view{
        position: fixed;
        bottom: 15px;
        right: 20px;
        
        background-color: blue;
        
        box-sizing: border-box;
        padding: 10px;
        
        border-radius: 50%;
        
        z-index: 2;
    }
}